html{
  font-size:10px;
  font-family: 'sans-serif';
  background-color:   #99ebff;
}
p{
  font-size: 1.6rem;
  line-height: 1.5;
}
h1{
  font-family: billabong,'billabongregular';
  text-align: center;
  font-size: 8rem;
  font-weight:100;
  margin:2rem 0;
  letter-spacing: -1px;
  color: black;
}

@font-face{
  font-family: 'billabongregular';
 src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
 src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
 font-weight: normal;
 font-style: normal;
}

.photoGrid{
  max-width: 1000px;
  margin:0 auto;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.figure{
  flex-basis: calc(33.333% - 4rem);
  border:1px solid #d3d3d3;
  padding: 2rem;
  flex-grow: 1;
  margin:0 2rem 2rem 2rem;
}

.photo{
  width:calc(100% + 4rem);
  margin:-2rem 0 0 -2rem;
}

.button-container{
  display:flex;
  justify-content: center;
}

button{
  flex-basis: 48%;
  color:white;
  border:none;
  font-size: 15px;
  line-height: 2;
  padding: 5px;
  background: #ff3333;
}
.addIcon{
margin:20px auto;
display: table;
padding: 40px;
background: url("https://image.flaticon.com/icons/svg/60/60740.svg") center no-repeat;
background-size: contain;
border:none;
}

.form{
  background:#99ebff;
  max-width:360px;
  margin:0 auto;
  padding:45px;
  text-align:center;
}

.form input{
  font-family:'Sans-Serif';
  background: #f2f2f2;
  width:100%;
  /* border:1px solid #bfbfbf; */
  border:none;
  padding: 15px;
  box-sizing:border-box;
  font-size: 14px;
  margin: 0 0 15px;
}
